server.contextPath=/
endpoints.health.sensitive=false

#trello auth
trello.api.key=<trello-api-key>
trello.api.token=<trello-api-token>
trello.pairing.board.id=<trello-pairing-board-id>

#basic auth
security.user.name=<basic-auth-user-name>
security.user.password=<basic-auth-password>
